/*
2-tone color: #63471f, #fccc4e
*/
body{
	max-width: 990px;
	margin: auto !important;
	font-family: 'Spinnaker', sans-serif;
	font-size: 14px;
}

/* Custom Bootstrap */
.navbar{
	border-bottom: 1px solid #63471f !important;
}
#myCarousel{
	margin-top: 0%;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	max-width: 600px;
	max-height: 400px;
  	width: 60%;
   	margin: auto;
}
.carousel-caption h3{
	text-shadow: 1px 2px black;
}
.table{
	border-color: #63471f;
}
			/* End of Custom Bootstrap */

			/* Style */
.blank{
	height: 56px;
}
.blank-20{
	min-height: 20px;
}

#main{
	max-width: 990px;
}
.logo-md{
	width: 300px;
	margin: auto;
}
.profile_picture{
	width: 30px;
	max-height: 30px;
}
.artTable{
	text-align: center;
	min-height: 222px;
}
th, td{
	text-align: center;
}
.artTitle{
	text-align: left;
	position: relative;
}
.artContent{
	text-align: left;
	height: 100px;
}
.odd{
	background-color: #87ceeb;
}
.error {
	color: #ff0000;
}
.errorBlock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}
.text-left{
	text-align: left;
}
.dateFont{
	font-size: 11px;
}
.dateFont_com{
	font-size: 10px;
}
.ex{
	color: gray;
	font-size: 11px;
}
.lk:hover, lk:active, lk:focus{
	cursor: pointer;
	text-decoration:none;
}
.textBtn{
	background:none;
	border:0 none;
	cursor:pointer;
}

/* Pagination CSS source */
/* https://www.w3schools.com/css/css3_pagination.asp */
.pageNumCont{
	text-align:center;
}
.pageNum {
    display: inline-block;
    margin: none;
}

.pageNum a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    
}

.pActive {
    background-color: #87ceeb;
    color: white;
}

.pageNum a:hover:not(.active) {
	background-color: #ddd;
}
