/*
2-tone color: #63471f, #fccc4e
*/
body{
	max-width: 990px;
	margin: auto !important;
}

/* Custom Bootstrap */
.navbar{
	border-bottom: 1px solid #63471f !important;
}
#myCarousel{
	margin-top: 0%;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	max-width: 600px;
	max-height: 400px;
  	width: 60%;
   	margin: auto;
}
.carousel-caption h3{
	text-shadow: 1px 2px black;
}
.table{
	border-color: #63471f;
}
			/* End of Custom Bootstrap */

			/* Style */
.blank{
	height: 56px;
}
.blank-20{
	min-height: 20px;
}

#main{
	max-width: 990px;
}
.logo-md{
	width: 300px;
	margin: auto;
}
.profile_picture{
	width: 30px;
	max-height: 30px;
}
.artTable{
	text-align: center;
}
th, td{
	text-align: center;
}
.artTitle{
	text-align: left;
	position: relative;
}
.artContent{
	text-align: left;
	height: 100px;
}
.odd{
	background-color: #87ceeb;
}
.error {
	color: #ff0000;
}
.errorBlock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}
.text-left{
	text-align: left;
}